{#
	variables that are available:
	- {{ widgetLocationItem }}: contains data about this location
	- {{ widgetLocationSettings }}: contains this module's settings
#}

{% if widgetLocationItem %}
  {# @remark: do not remove the parseMap-class, it is used by JS #}
  <div class="maps-holder">
    <div class="maps-overlay" onClick="style.pointerEvents='none'"></div>
    <div id="map{{ widgetLocationItem.id }}" class="parseMap parseMapDisplay">
      
    </div>
    {# <hr class="bottom-line"> #}
  </div>
  
  {% if widgetLocationSettings.directions %}
    <aside id="locationSearch{{ widgetLocationItem.id }}" class="locationSearch">
      <form method="get" action="#">
        <p>
          <label for="locationSearchAddress{{ widgetLocationItem.id }}">{{ 'lbl.Start'|trans|ucfirst }}
            <abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
          <input type="text" id="locationSearchAddress{{ widgetLocationItem.id }}" name="locationSearchAddress" class="inputText" />
          <span id="locationSearchError{{ widgetLocationItem.id }}" class="formError inlineError" style="display: none;">{{ 'err.FieldIsRequired'|trans|ucfirst }}</span>
        </p>
        <p>
          <input type="submit" id="locationSearchRequest{{ widgetLocationItem.id }}" name="locationSearchRequest" class="inputSubmit" value="{{ 'lbl.ShowDirections'|trans|ucfirst }}" />
        </p>
      </form>
    </aside>
  {% endif %}

  {% if widgetLocationSettings.full_url %}
    <p>
      <a id="map-full-url-{{ widgetLocationItem.id }}" href="{{ widgetLocationSettings.maps_url }}" title="{{ 'lbl.ViewLargeMap'|trans }}">{{ 'lbl.ViewLargeMap'|trans|ucfirst }}</a>
    </p>
  {% endif %}

  <div id="markerText{{ widgetLocationItem.id }}" style="display: none;">
     <a href="/"><img src="{{ SITE_URL }}/src/Frontend/Themes/candy/Core/Layout/images/popkorn_2.svg" alt="{{ siteTitle }}"></a>
    <address>
      {{ widgetLocationItem.street }} {{ widgetLocationItem.number }}<br />
      {{ widgetLocationItem.zip }} {{ widgetLocationItem.city }}
    </address>
   {#  <p>
      T <a href="#">+32 4760 32 46</a><br />
      E <a href="#">info@popkorn.be</a>
    </p> #}
  </div>

{% endif %}
