   
 {% if overview %}
  <div id="demo">
        <div id="owl-overview" class="owl-carousel">
                {% for overview in overview %}        
                   <div class="item overview-item">
                        <div class="overview-item-top">
                            <img class="overview-item-thumbnail" alt="{{ overview.title }}" src="http://{{ SITE_DOMAIN }}/src/Frontend/Files/Overview/image/800x800/{{ overview.img }}">
                            <div class="overview-item-cta">
                                <a href="mailto:{{ overview.url }}"><img alt="mail" src="http://{{ SITE_DOMAIN }}/src/Frontend/Themes/candy/Core/Layout/images/mail.svg"></a>
                            </div>
                        </div>
                        <div class="overview-item-bottom">
                            <h4>{{ overview.title }}</h4>
                            <p class="overview-subtitle">{{ overview.subtitle }}</p>
                            {{ overview.content|raw }}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
        
{% endif %}