{% include "Core/Layout/Templates/Head.html.twig" %}

<body class="{{ LANGUAGE }}" itemscope itemtype="http://schema.org/WebPage">
  
{% include "Core/Layout/Templates/Cookies.html.twig" %}


  {# HEADER #}

  <header id="header" class="headerStart" {% if page.data.image %}style="background-image:url({{ FRONTEND_FILES_URL~'/pages/images/source/'~page.data.image }})" {% endif %}>
    <div class="container">

      {# Logo #}
      <div id="logo">
        <a href="/"><img src="{{ SITE_URL }}/src/Frontend/Themes/candy/Core/Layout/images/logo.svg" alt="{{ siteTitle }}"></a>
      </div>

      {# Navigation #}
      <nav id="main-nav">
        {{ getnavigation('page', 0, 1) }}
      </nav>

    </div>

  </header>


  {# MAIN CONTENT #}

  


   {# Carousel #}  
    <div id="carousel">
      {% for Carousel in positions.Carousel %}
        {% if Carousel.html %}
          {{ Carousel.html|raw }}
        {% endif %}
      {% endfor %}
    </div>
    
  <div id="topWrapper">
    <div id="main">
      <div class="container">

         {# Alert #}  
         
            {% for Alert in positions.Alert %}
              {% if Alert.html %}
                <div id="notification">
                  {{ Alert.html|raw }}
                </div>
              {% endif %}
            {% endfor %}
          


        {# Main column #} 
        <div class="container-inner">
          <div class="grid">
            <div class="grid-item grid-l-1-1 title-block">
              <div class="menu-tag" id="overons">
                <p>Over ons</p>
              </div>
              
              {# Titel 1 #} 
              {% for Titel1 in positions.Titel1 %}
                {% if Titel1.html %}
                  {{ Titel1.html|raw }}
                {% endif %}
              {% endfor %}

            </div>
          </div>

          <div class="grid text-block">
            <div class="grid-item grid-l-1-3"> 
              {# Intro 1 #} 
              {% for Intro1 in positions.Intro1 %}
                {% if Intro1.html %}
                  {{ Intro1.html|raw }}
                {% endif %}
              {% endfor %}
            </div>
            <div class="grid-item grid-l-1-3"> 
              {# Intro 2 #} 
              {% for Intro2 in positions.Intro2 %}
                {% if Intro2.html %}
                  {{ Intro2.html|raw }}
                {% endif %}
              {% endfor %}
            </div>
            <div class="grid-item grid-l-1-3"> 
              {# Intro 3 #} 
              {% for Intro3 in positions.Intro3 %}
                {% if Intro3.html %}
                  {{ Intro3.html|raw }}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>


        <div id="gallery">
          {# Content 1 #} 
          {% for Content1 in positions.Content1 %}
            {% if Content1.html %}
              {{ Content1.html|raw }}
            {% endif %}
          {% endfor %}
        </div>



        <div class="container-inner">
          <div class="grid imageblock">
            <div class="grid-item grid-l-1-1 title-block">
              <div class="menu-tag" id="realisaties">
                <p>Realisaties</p>
              </div>
            
              {# Titel 2 #} 
              {% for Titel2 in positions.Titel2 %}
                {% if Titel2.html %}
                  {{ Titel2.html|raw }}
                {% endif %}
              {% endfor %}
            </div>
          </div>
                    
            {# Content 2 #} 
            {% for Content2 in positions.Content2 %}
              {% if Content2.html %}
                {{ Content2.html|raw }}
              {% endif %}
            {% endfor %}


          <div class="grid overview">
            <div class="grid-item grid-l-1-1 title-block">
              <div class="menu-tag" id="onsteam">
                <p>Ons team</p>
              </div>
            
              {# Titel 3 #} 
              {% for Titel3 in positions.Titel3 %}
                {% if Titel3.html %}
                  {{ Titel3.html|raw }}
                {% endif %}
              {% endfor %}
            </div>
          </div>
                    
            {# Content 3 #} 
            {% for Content3 in positions.Content3 %}
              {% if Content3.html %}
                {{ Content3.html|raw }}
              {% endif %}
            {% endfor %}



          <div class="grid">
            <div class="grid-item grid-l-1-1 title-block">
              <div class="menu-tag" id="contact">
                <p>Contact</p>
              </div>
              
              {# Titel 4 #}
              {% for Titel4 in positions.Titel4 %}
                {% if Titel4.html %}
                  {{ Titel4.html|raw }}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
       
        {# Content 4 #} 
        {% for Content4 in positions.Content4 %}
          {% if Content4.html %}
            {{ Content4.html|raw }}
          {% endif %}
        {% endfor %}

      </div>
      <div class="clear"></div>
    </div>
  </div>
  <noscript>
    <div class="message notice">
      <h4>{{ 'lbl.EnableJavascript'|trans|ucfirst }}</h4>
      <p>{{ 'msg.EnableJavascript'|trans }}</p>
    </div>
  </noscript>
</div>


{# FOOTER #}


  {% include "Core/Layout/Templates/Footer.html.twig" %}

{# Site wide HTML #}
{{ siteHTMLFooter|raw }}
</body>
</html>
