{% include "Core/Layout/Templates/Head.html.twig" %}

<body class="{{ LANGUAGE }}" itemscope itemtype="http://schema.org/WebPage">
{% include "Core/Layout/Templates/Cookies.html.twig" %}

<div id="topWrapper">

  {# HEADER #}

  <header id="header" {% if page.data.image %}style="background-image:url({{ FRONTEND_FILES_URL~'/pages/images/source/'~page.data.image }})" {% endif %}>
    <div class="container">

      {# Logo #}
      <div id="logo">
        <a href="/"><img src="{{ SITE_URL }}/src/Frontend/Themes/candy/Core/Layout/images/logo.svg" alt="{{ siteTitle }}"></a>
      </div>

      {# Navigation #}
      <nav id="main-nav">
        {{ getnavigation('page', 0, 1) }}
      </nav>

    </div>

  </header>


  {# MAIN CONTENT #}

  <div id="main">

    {# Carousel #}  
    <div id="carousel">
      {% for Carousel in positions.Carousel %}
        {% if Carousel.html %}
          {{ Carousel.html|raw }}
        {% endif %}
      {% endfor %}
    </div>

    <div class="container">

      {# Main column #}
      <div class="col col-12 lastCol">

        {# Deel 1 #}
        {% for Deel1 in positions.Deel1 %}
          {% if Deel1.html %}
            {{ Deel1.html|raw }}
          {% endif %}
        {% endfor %}

        {# Intro 1 #}
        {% for Intro1 in positions.Intro1 %}
          {% if Intro1.html %}
            {{ Intro1.html|raw }}
          {% endif %}
        {% endfor %}

        {# Intro 2 #}
        {% for Intro2 in positions.Intro2 %}
          {% if Intro2.html %}
            {{ Intro2.html|raw }}
          {% endif %}
        {% endfor %}

        {# Intro 3 #}
        {% for Intro3 in positions.Intro3 %}
          {% if Intro3.html %}
            {{ Intro3.html|raw }}
          {% endif %}
        {% endfor %}


        {# Main positions #}
        {% for main in positions.main %}
          {% if main.html %}
            <section class="mod">
              <div class="inner">
                <div class="bd content">
                  {{ main.html|raw }}
                </div>
              </div>
            </section>
          {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>
  <noscript>
    <div class="message notice">
      <h4>{{ 'lbl.EnableJavascript'|trans|ucfirst }}</h4>
      <p>{{ 'msg.EnableJavascript'|trans }}</p>
    </div>
  </noscript>
</div>


{# FOOTER #}

<div id="bottomWrapper">
  {% include "Core/Layout/Templates/Footer.html.twig" %}
</div>

{# General Javascript #}
{% for js in jsFiles %}
  <script src="{{ js.file }}"></script>
{% endfor %}

{# Theme specific Javascript #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ THEME_URL }}/Core/Js/min/parallax-min.js"></script>
<script src="{{ THEME_URL }}/Core/Js/min/uikit-min.js"></script>
<script src="{{ THEME_URL }}/Core/Js/min/theme-min.js"></script>

{# Site wide HTML #}
{{ siteHTMLFooter|raw }}
</body>
</html>
